#
# Copyright 2018-2022 the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: Vue Gradle SQL
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}-${{ github.event.inputs.jhiGenRepo }}-${{ github.event.inputs.jhiGenBranch }}
  cancel-in-progress: true
on:
  workflow_dispatch:
    inputs:
      jhiGenRepo:
        description: 'JHipster repository url'
        default: 'jhipster/generator-jhipster'
        required: false
      jhiGenBranch:
        description: 'JHipster repository branch'
        default: 'main'
        required: false
  schedule:
    - cron: '30 3 * * *'
jobs:
  applications:
    name: ${{ matrix.app-type }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}/app
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        app-type:
          - vue-gradle-psql
          - vue-gradle-mysql
          - vue-gradle-noi18n
          - vue-gradle-fulli18n-fr
          - vue-gradle-oauth2
          - vue-gradle-session
          - vue-gradle-es
          - vue-gradle-websocket
          - vue-gradle-theme
        include:
          - app-type: vue-gradle-psql
            entity: sqlfull
            profile: prod
            war: 0
            e2e: 1
          - app-type: vue-gradle-mysql
            entity: sqlfull
            profile: prod
            war: 0
            e2e: 1
          - app-type: vue-gradle-noi18n
            entity: sqlfull
            profile: prod
            war: 0
            e2e: 1
          - app-type: vue-gradle-fulli18n-fr
            entity: sqlfull
            profile: prod
            war: 0
            e2e: 1
          - app-type: vue-gradle-oauth2
            entity: sqlfull
            profile: prod
            war: 0
            e2e: 1
          - app-type: vue-gradle-session
            entity: sqlfull
            profile: prod
            war: 0
            e2e: 1
          - app-type: vue-gradle-es
            entity: sql
            profile: prod
            war: 0
            e2e: 1
          - app-type: vue-gradle-websocket
            entity: sql
            profile: prod
            war: 0
            e2e: 1
          - app-type: vue-gradle-theme
            entity: sql
            profile: prod
            war: 0
            e2e: 1
    steps:
      #----------------------------------------------------------------------
      # Install all tools and check configuration
      #----------------------------------------------------------------------
      - name: 'SETUP: Checkout jhipster-daily-builds'
        uses: actions/checkout@v6
        with:
          path: jhipster-daily-builds
      - name: 'SETUP: Checkout generator-jhipster'
        uses: actions/checkout@v6
        with:
          repository: ${{ github.event.inputs.jhiGenRepo || 'jhipster/generator-jhipster' }}
          path: generator-jhipster
          ref: ${{ github.event.inputs.jhiGenBranch || 'main' }}
      - run: echo "node-version=$(cat ${{ github.workspace }}/generator-jhipster/generators/init/resources/.node-version)" >> $GITHUB_OUTPUT
        id: node-version
      - uses: jhipster/actions/setup-runner@v1
        with:
          node-version: ${{ steps.node-version.outputs.node-version }}
          java-version: 25
          maven-cache: true
          gradle-cache: true
          binary-dir: ${{ github.workspace }}/generator-jhipster/bin
      #----------------------------------------------------------------------
      # Install JHipster and generate project+entities
      #----------------------------------------------------------------------
      - run: npm ci --ignore-scripts
        working-directory: ${{ github.workspace }}/generator-jhipster
      - run: jhipster.cjs --export-github-output
        id: jhipster-output
      - uses: jhipster/actions/build-jhipster-bom@v1
        with:
          jhipster-bom-ref: ${{ steps.jhipster-output.outputs.jhipster-bom-branch }}
      - run: jhipster.cjs generate-sample daily-builds/${{ matrix.app-type }} --entities-sample ${{ matrix.entity }} --default-environment ${{ matrix.profile || 'prod' }} --sample-yorc-folder --skip-jhipster-dependencies --skip-checks --no-insight
        env:
          JHIPSTER_DEPENDENCIES_VERSION: 0.0.0-CICD
      #----------------------------------------------------------------------
      # Launch tests
      #----------------------------------------------------------------------
      - run: npm run ci:backend:test
      - run: npm run ci:frontend:test
      - run: npm run ci:e2e:package
      - run: npm run ci:e2e:prepare
      - run: npm run ci:e2e:run --if-present
