#
# Copyright 2018-2021 the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: Official Windows
on:
  workflow_dispatch:
  schedule:
    - cron: "30 8 * * *"
env:
  JHI_RUN_APP: 1
  JHI_E2E: 0
  JHI_ENTITY: sql
  JHI_WINDOWS: true
  # if JHI_LIB_BRANCH value is release, use the release from Maven
  JHI_LIB_REPO: https://github.com/jhipster/jhipster-bom.git
  JHI_LIB_BRANCH: main
  # if JHI_GEN_BRANCH value is release, use the release from NPM
  JHI_GEN_REPO: https://github.com/jhipster/generator-jhipster.git
  JHI_GEN_BRANCH: main
  # specific config
  SPRING_OUTPUT_ANSI_ENABLED: NEVER
  SPRING_JPA_SHOW_SQL: false
  JHI_DISABLE_WEBPACK_LOGS: true
  JHI_E2E_HEADLESS: true
  JHI_SCRIPTS: /c/Users/runneradmin/generator-jhipster/test-integration/scripts
  JHI_GITHUB_CI: true
  # https://github.com/actions/virtual-environments/issues/1499#issuecomment-689467080
  MAVEN_OPTS: >-
    -Dhttp.keepAlive=false
    -Dmaven.wagon.http.pool=false
    -Dmaven.wagon.httpconnectionManager.ttlSeconds=120
jobs:
  applications:
    name: ${{ matrix.app-type }}
    runs-on: ${{ matrix.os }}
    if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]')"
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        node_version: [12.18.3]
        os: [windows-latest]
        app-type:
          - ngx-default
          - ngx-mysql-es-noi18n-mapsid
          - ngx-gradle-fr
          - ngx-mariadb-oauth2-sass-infinispan
          - ms-ngx-gateway-eureka
          - ms-micro-eureka
          # - ngx-mongodb-kafka-cucumber
        include:
          - app-type: ngx-default
            profile: prod
            e2e: 1
            entity: sql
          - app-type: ngx-mysql-es-noi18n-mapsid
            profile: prod
            e2e: 1
            entity: sql
          - app-type: ngx-gradle-fr
            profile: prod
            e2e: 1
            entity: sql
          - app-type: ngx-mariadb-oauth2-sass-infinispan
            profile: prod
            e2e: 1
            entity: sql
          - app-type: ms-ngx-gateway-eureka
            profile: prod
            entity: sql
          - app-type: ms-micro-eureka
            profile: prod
            entity: micro
          # - app-type: ngx-mongodb-kafka-cucumber
          #   profile: prod
          #   entity: mongodb
    env:
      JHI_ENTITY: ${{ matrix.entity }}
      JHI_APP: ${{ matrix.app-type }}
      JHI_PROFILE: ${{ matrix.profile }}
      JHI_E2E: ${{ matrix.e2e }}
    steps:
      #----------------------------------------------------------------------
      # Install all tools and check configuration
      #----------------------------------------------------------------------
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node_version }}
      - uses: actions/setup-java@v1
        with:
          java-version: "11.x"
      - name: "TOOLS: display configuration"
        run: ./test-integration/scripts/01-display-configuration.sh
        shell: bash
      - name: "TOOLS: configure git"
        run: ./test-integration/scripts/04-git-config.sh
        shell: bash
      #----------------------------------------------------------------------
      # Install JHipster and generate project+entities
      #----------------------------------------------------------------------
      - name: "GENERATION: install JHipster"
        run: ./test-integration/scripts/10-install-jhipster-daily-builds.sh
        shell: bash
      - name: "GENERATION: entities"
        run: $JHI_SCRIPTS/11-generate-entities.sh
        shell: bash
      - name: "GENERATION: project"
        run: $JHI_SCRIPTS/12-generate-project.sh
        shell: bash
      - name: "GENERATION: replace version in generated project"
        run: $JHI_SCRIPTS/13-replace-version-generated-project.sh
        shell: bash
      - name: "GENERATION: jhipster info"
        run: $JHI_SCRIPTS/14-jhipster-info.sh
        shell: bash
      #----------------------------------------------------------------------
      # Bugs fix
      #----------------------------------------------------------------------
      - name: "BUGS-FIX: no memory limit for Elastichsearch"
        run: $JHI_SCRIPTS/20-no-memory-limit-elasticsearch.sh
        shell: bash
      #----------------------------------------------------------------------
      # Launch Tests
      #----------------------------------------------------------------------
      - name: "TESTS: backend"
        run: $JHI_SCRIPTS/21-tests-backend.sh
        shell: bash
      - name: "TESTS: frontend"
        run: $JHI_SCRIPTS/22-tests-frontend.sh
        shell: bash
      - name: "TESTS: packaging"
        run: $JHI_SCRIPTS/23-package.sh
        shell: bash
