#
# Copyright 2018-2022 the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: Official Windows
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}-${{ github.event.inputs.jhiGenRepo }}-${{ github.event.inputs.jhiGenBranch }}
  cancel-in-progress: true
on:
  workflow_dispatch:
    inputs:
      jhiGenRepo:
        description: 'JHipster repository url'
        default: 'jhipster/generator-jhipster'
        required: false
      jhiGenBranch:
        description: 'JHipster repository branch'
        default: 'main'
        required: false
  schedule:
    - cron: '0 9 * * *'
jobs:
  applications:
    name: ${{ matrix.app-type }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
        working-directory: ${{ github.workspace }}/app
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        app-type:
          - ng-default
          # Elasticsearch requires docker for tests
          # - ng-mysql-es-noi18n-mapsid
          - ng-gradle-fr
          - ng-mariadb-oauth2-sass-infinispan
          - ms-ngx-gateway-eureka
          - ms-micro-eureka
          # - ngx-mongodb-kafka-cucumber
          - vue-default
          - react-default
        include:
          - app-type: ng-default
            profile: dev
            e2e: 1
            entity: sql
          # - app-type: ng-mysql-es-noi18n-mapsid
          #   profile: prod
          #   e2e: 1
          #   entity: sql
          - app-type: ng-gradle-fr
            profile: dev
            e2e: 1
            entity: sql
          - app-type: ng-mariadb-oauth2-sass-infinispan
            profile: dev
            e2e: 1
            entity: sql
          - app-type: ms-ngx-gateway-eureka
            profile: dev
            entity: sqllight
          - app-type: ms-micro-eureka
            profile: dev
            entity: micro
          # - app-type: ng-mongodb-kafka-cucumber
          #   profile: prod
          #   entity: mongodb
          - app-type: vue-default
            entity: sql
            profile: dev
            e2e: 1
          - app-type: react-default
            entity: sql
            profile: dev
            e2e: 1
    steps:
      #----------------------------------------------------------------------
      # Install all tools and check configuration
      #----------------------------------------------------------------------
      - name: 'SETUP: Checkout jhipster-daily-builds'
        uses: actions/checkout@v6
        with:
          path: jhipster-daily-builds
      - name: 'SETUP: Checkout generator-jhipster'
        uses: actions/checkout@v6
        with:
          repository: ${{ github.event.inputs.jhiGenRepo || 'jhipster/generator-jhipster' }}
          path: generator-jhipster
          ref: ${{ github.event.inputs.jhiGenBranch || 'main' }}
      - run: echo "node-version=$(cat ${{ github.workspace }}/generator-jhipster/generators/init/resources/.node-version)" >> $GITHUB_OUTPUT
        id: node-version
        working-directory: ${{ github.workspace }}
      - uses: jhipster/actions/setup-runner@v1
        with:
          node-version: ${{ steps.node-version.outputs.node-version }}
          java-version: 25
          maven-cache: true
          gradle-cache: true
          binary-dir: ${{ github.workspace }}/generator-jhipster/bin
      #----------------------------------------------------------------------
      # Install JHipster and generate project+entities
      #----------------------------------------------------------------------
      - run: npm ci --ignore-scripts
        working-directory: ${{ github.workspace }}/generator-jhipster
      - run: jhipster.cjs ci-utils --export-github-output
        id: jhipster-output
      - uses: jhipster/actions/build-jhipster-bom@v1
        with:
          jhipster-bom-ref: ${{ steps.jhipster-output.outputs.jhipster-bom-branch }}
      - run: jhipster.cjs generate-sample samples/${{ matrix.app-type }} --entities-sample ${{ matrix.entity }} --default-environment ${{ matrix.profile || 'prod' }} --sample-yorc-folder --skip-jhipster-dependencies --skip-checks --no-insight
        env:
          JHIPSTER_DEPENDENCIES_VERSION: 0.0.0-CICD
      - run: npm config -L project set script-shell=bash
      #----------------------------------------------------------------------
      # Launch tests
      #----------------------------------------------------------------------
      - run: npm run ci:backend:test
      - run: npm run ci:frontend:test --if-present
      - run: npm run ci:e2e:package
